spring:
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ############################.apps.googleusercontent.com
            client-secret: ##############################CHitcq
s